---
import '@/styles/global.css';
import { baseUrl } from '@/utils/functions';
const title = 'Wave with Simplex Noise';
const favicon = baseUrl('/assets/favicon.webp');
const js29a = baseUrl('/assets/scripts/29a.ch.js')
const cssextern = baseUrl('/assets/styles/style.css')
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='stylesheet' href={cssextern} />
    <link rel='icon' type='image/svg+xml' href={favicon} />
    <meta name='google' content='notranslate' />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script>
      import '../typescript/main.ts';
    </script>
    <script is:inline src={js29a}></script>
  </body>
</html>
